body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div[name=post] {
  margin: 15px auto;
  width: 60%;
  padding: 15px;
  background-color: #FFFAFA
}

.form_container {
  display: flex;
}

#signup_link {
  display:none;
}

#authentication {
  text-align: center;
}

input, .submit_comment, .submit_message {
  display: block;
  width: 100%;
}

.form {
  margin: auto;
  align-items: center;
}

textarea {
  width: 100%
}

.new_message {
  width: 40%;
  align-items: center;
  margin: auto;
}

.new_message button {
  width: 50%;
  margin: auto;
}

.new_comment button {
  width: 50%;
  margin: auto;
}

.new_comment textarea {
  border-radius: 10px;
  padding-left: 0.4em;
  background-color: inherit;
  border-color: lightgrey;
}

#navbar {
  color: white;
  background-color: #3b5998
}

#message {
  width: 80%;
  float: right;
  padding-left: 10px;
}

#comments {
  width: 60%;
  margin: auto;
}

.navbar a {
  padding-right: 40px;
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  color: hotpink;
  text-decoration: none;
}

div[name="comment"] {
  margin: 8px auto;
  padding: 1px 4px;
  border-radius: 10px;
  background-color: #e6e9ef;
}

#name_time {
  color: #3b5998;
  font-weight: bold;
  width: 20%;
  display: inline-block;
  font-size: 0.6em;
}

#buttons {
  display: inline-block;
  width: 100%;
}

.button {
  font-size: 0.7em;
  float: right;
}
